html, body{
margin: 0;
}
body{
	background-color: #fff;
}
.price_text{
    color: #cc0835;
    text-align: center;
    margin: 0 auto;
    display: block;
	font-family: Tahoma;
}

.int_val {
    font-weight: 600;
    font-size: 15px;
}

.float_val {
    vertical-align: baseline;
    position: relative;
    bottom: 10px;
}

.button_sell img{
    display: block;
    margin: 0 auto;
}

.widget {
    float: left;
    width: 250px;
    margin: 20px;
/*    border: 1px solid #cc0835;*/
}

.w .pic .desc{
	min-height: 11px;
	text-align: center;
	font-size: 10px;
	line-height: 14px;
	font-family: Tahoma;
    word-wrap:break-word;

}

.offer_img{
    width:170px;
    height:255px;
}

.logo{
    height: 17px;
    float: left;
    width: 90px;
    margin-right: 15px;
    margin-top: -5px;
}
.copyright-first{

}
.copyright-text{
}

.slider{
	width: 100%;
	position: relative;
	overflow: hidden;
/*	padding: 0 20px;*/
}
.slider ul{
	overflow: hidden;
	padding-left: 0;
}
.slider ul li{
	list-style: none;
	display: block;
	float: left;
	margin: 0 7px;
	width: 170px !important;
	background-color: #fff;
	
}
.slider ul li .pic{
	min-height: 255px;
}
.slider .arrow-left{
	background: transparent url("../../images/prev_arrow.png") 0% 0% no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	margin-top: -29px; /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	border: 0;
	z-index: 100;
}
.slider .arrow-right{
	background: transparent url("../../images/next_arrow.png") 0% 0% no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	margin-top: -29px; /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	border: 0;
	z-index: 100;
}
.slider .arrow-right.arrow-right-inactive{
    background: transparent url("../../images/next_arrow-inactive.png") 0% 0% no-repeat;
}

.slider .arrow-left.arrow-left-inactive{
    background: transparent url("../../images/prev_arrow-inactive.png") 0% 0% no-repeat;
}

.btn{
	width: 170px;
	height: 30px;
}

.btn a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 24px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}
.btn a:active{
	position: relative;
	top: 1px;
}

.w > div{
	margin-bottom: 5px;
}

.w a img{
	border: none;
}

.copyright{
	color: #ccc;
	font-size: 9px;
	margin: 0 5%;
	font-family: "Times New Roman";
}